/* Error: Undefined variable.
 *   ,
 * 1 | .text-center { text-align: center; margin-bottom: $spacer; font-size: 5vh; }
 *   |                                                   ^^^^^^^
 *   '
 *   SCSS\utilities.scss 1:51  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 1 \2502  .text-center { text-align: center; margin-bottom: $spacer; font-size: 5vh; }\d\a   \2502                                                    ^^^^^^^\a   \2575 \a   SCSS\\utilities.scss 1:51  root stylesheet";
}
