$primary-color: #000000BF;
$secondary-color: #f2c48d;
$text-color: #333;
$input-border: #ccc;
$border-radius: 1vh;
$spacer: 2vh;
$font-base: 'HYWenHei 85W';

@font-face {
  font-family: 'HYWenHei 85W';
  src: url('zh-cn.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $font-base;
  color: $text-color;
}
