$primary-color: #000000BF; // navbar bg
$secondary-color: #f2c48d; // hover / highlights
$background-color: #170129; // page bg
$text-color: #333;
$input-border: #ccc;
$border-radius: 1vh;
$spacer: 2vh;
$font-base: 'HYWenHei 85W';
